input[type='submit'] {
  padding: .5rem;
  border: none;
  border-radius: .25rem;
  background:#4c2e2f;
  color:#d3a03a;
}
table {
  width: 100%;
  margin-bottom: 2rem;
}
th {
  text-align: left;
}
.subtotal {
  float: right;
  font-size: 2rem;
  font-weight: 100;
}
.links {
  float:right;
  clear: both;
  margin: 1rem 0;
}
.links > * {
  margin: 0 0.5rem;
}
.pages {
  text-align: center;
  margin: 1rem 0;
}
.product {
  display:inline-block;
  box-sizing: border-box;
  padding-left:2rem;
  max-width: 50%;
}
.product .details {
  margin-bottom: 3rem;
}
section {
  margin-bottom: -6rem;
  min-height: 100%;
}
img {
  float:left;
}
html,body {
  height: 100%;
}


