body {
  margin:0;
  color: #333;
  font-size: 16px;
  font-family: Helvetica,Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  color: #4c2e2f;
}
.bright {
  color: #d3a03a;
}
h6 {
  margin-bottom: 1.65rem;
  font-size: 1rem;
}

h5 {
  margin-bottom: 1.41428rem; 
  font-size: 1.16667rem;
}
h4 {
  margin-bottom: 1.2375rem;
  font-size: 1.3333333rem;
}
h3 {
  margin-bottom: 0.825rem; 
  font-size: 2rem;
}
h2 {
  margin-bottom: 0.61875rem;
  font-size: 2.66667rem;
}
h1 {
  margin-bottom: 0.495rem;
  font-size: 3.333333rem;
}
.right {
  float: right;
}

section {
  margin:3rem auto;
  max-width: 1000px;
}
section:after {
  display:block;
  height: 6rem;
  content:"";
}
.carousel {
  overflow: hidden;
  margin: 3rem auto;
  max-width:940px;
  height: 25rem;
  background: #4c2e2f;
}
.slide {
  max-width: 940px;
  height: 25rem;
}

nav {
  height: 4rem;
  /*border: 1px solid #d3a03a;*/
  background: #4c2e2f;
}
.navitem {
  display: inline-block;
  padding: 0 1rem;
  height: 4rem;
  text-transform: uppercase;
  /*min-width: 5rem;*/
  font-weight: 100;
  line-height: 4rem;
}
a {
  color: #d3a03a;
  text-decoration: none;
}
nav a {
  color: #d3a03a;
  text-decoration: none;
}
nav a:visited {
  color: #d3a03a;
}
.logo {
  margin: 3rem auto;
  max-width: 300px;
}
.logo img {
  float:none;
  max-width: 300px;
}
footer {
  height: 6rem;
  /*border: 1px solid #d3a03a;*/
  background: #4c2e2f;
}

@media (max-width: 959px) {
  section {
    max-width: 640px;
  }
}
@media (max-width: 639px) {
  article {
    display: block;
    margin: 1rem auto;
    max-width: 400px;
  }
  section,.carousel {
    margin: 0;
  }
}